body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #333;
}

/* Header */
.about-header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #f1f1f1, #f1f1f1);
    color: #fff;
}

.about-header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.about-header p {
    font-size: 18px;
    opacity: 0.8;
}


.about-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.about-container p {
    max-width: 7000px; /* جرب 600 - 700 */
    line-height: 1.7;
}

.about-hero {
    background: linear-gradient(135deg, #0058AC, #f1f1f1);;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}
.about-hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.about-hero p {
    opacity: .8;
    font-size: 18px;
}

/* ABOUT SECTION */
.about-company {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 80px 10%;
    align-items: center;
}

.about-company img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    padding-right:10px;
}
.about-text h3 {
    font-size: 28px;
    margin-bottom: 15px;
}
.about-text p {
    margin-bottom: 15px;
    line-height: 1.7;
    color: #444;
}

/* STATS */
.about-stats {
    display: flex;
    justify-content: space-around;
    padding: 60px 10%;
    background: #f9f9f9;
}
.stat-box {
    text-align: center;
}
.stat-icon {
    font-size: 50px;
    color: #0d6efd;
}
.stat-box h3 {
    font-size: 30px;
    margin: 10px 0;
}

/* Mission & Vision Section */
.mv-section {
    display: flex;
    gap: 30px;
    padding: 60px 10%;
}
.mv-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    width: 50%;
}
.mv-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color:#0058AC;
}
.mv-card p {
    color: #444;
    line-height: 1.6;
}

/* Responsive */
@media(max-width: 900px) {
    .about-company,
    .about-stats,
    .mv-section {
        flex-direction: column;
        text-align: center;
    }
    .mv-card {
        width: 100%;
    }
}
