
.content{
    flex:1;
    padding:40px;
    text-align:center;
}

/* FOOTER */
.site-footer{
    background: linear-gradient(180deg, #2a2f3a, #1f2430);
    color:#d0d0d0;
    /*padding:50px 0 20px;*/
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid #ddd;
}

.footer-container{
    max-width:1400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
}

.footer-col{
    flex: 1;
    min-width: 20px;
    margin-bottom: 10px;
}
.footer-col h3{
    color:#ffffff;
    margin-bottom:15px;
    font-size:18px;
}

.footer-col p{
    line-height:1.6;
    font-size:14px;
}

.footer-col ul{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-col ul li{
    margin-bottom:8px;
}

.footer-col ul li a{
    color:#d0d0d0;
    text-decoration:none;
    font-size:14px;
}

.footer-col ul li a:hover{
    color:#ffffff;
}
/* Social Icons */
.social-icons{
    display:flex;
    gap:12px;
    margin-bottom:10px;
    margin-left: 65px;
}

.social-icons a{
    width:38px;
    height:38px;
    background:#3a404f;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    text-decoration:none;
    font-size:16px;
    transition:.3s;
}

.social-icons a:hover{
    background:#0a84ff;
}

.social-text{
    font-size:13px;
    margin-top:10px;
}

/* Bottom bar */
.footer-bottom{
    border-top:1px solid rgba(255,255,255,0.1);
    margin-top:30px;
    padding-top:15px;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    font-size:13px;
}

.footer-links a{
    color:#d0d0d0;
    margin-left:15px;
    text-decoration:none;
}

.footer-links a:hover{
    color:#ffffff;}
